<!DOCTYPE html>
<html>
  <head>
    <title>Failure</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Authorization Failure</h1>
    <p>Github 인증이 실패하였습니다. 모든 작업이 이루어지지 않았으며, 다음에 다시 인증을 요청할 때 처음부터 다시 시작하게 됩니다.</p>
  </body>
</html>
