<!DOCTYPE html>
<html>
  <head>
    <title>AI Network Meetup</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>AI Network Meetup</h1>
    <p>이곳은 사용자가 홈페이지에 처음 들어왔을 때 보일 페이지입니다.</p>
    <a href="/auth/github">Github 인증 요청하기</a> (/auth/github)
  </body>
</html>
