<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="AI X Blockchain Techtalk"/>
    <meta property="og:description" content="AI와 블록체인에 관심이 많은 개발자들을 위해서 AI NETWORK가 테크톡을 준비하였습니다.
    이번 테크톡에서는 “오픈 소스 커뮤니티를 넘어 오픈 리소스 커뮤니티로!“란 주제의 초청 강연.
    그리고 AI와 블록체인 기술의 동향과 발전 가능성에 대한 이야기를 나누고자 합니다.
    이번 테크톡에 개발자분들의 많은 관심과 참여 부탁드립니다."/>
    <meta property="og:url" content="http://meetup.ainetwork.ai"/>
    <meta property="og:image" content="http://meetup.ainetwork.ai/images/ogimage.png"/>
    <link rel="stylesheet" href="/stylesheets/app.css">
    <title>AI X Blockchain Techtalk</title>
    <script>
        var serverTimeDiff = Date.now() - <%= Date.now() %>;
    </script>
</head>
<body>
<div class="bg"></div>
<section class="section section1 fadeIn">
    <div class="top">
        <div class="text-left-align">
            <a class="homepage-link" target="_blank" href="http://www.ainetwork.ai/">
                <img src="/images/logo.svg"/>
            </a>
        </div>
        <div class="open">
            참가 신청 오픈 _ 07. 27. 13:00
        </div>
        <div class="timer">
        </div>
    </div>
    <div class="middle">
        <div class="title">
            <span>AI X Blockchain</span> <span>Techtalk for</span> <span>Developers</span>
        </div>
        <hr/>
        <div class="description">
            AI와 블록체인에 관심이 많은 개발자들을 위해서 AI NETWORK가 테크톡을 준비하였습니다.
            이번 테크톡에서는 “오픈 소스 커뮤니티를 넘어 오픈 리소스 커뮤니티로!“란 주제의 초청 강연.
            그리고 AI와 블락체인 기술의 동향과 발전 가능성에 대한 이야기를 나누고자 합니다.
            이번 테크톡에 개발자분들의 많은 관심과 참여 부탁드립니다.
        </div>
    </div>
    <div class="bottom">
        <div class="location">Google Campus Seoul</div>
        <div class="date">2018. 08. 03. 19:00 ~ 21:00</div>
        <div class="guest">AI와 블록체인에 관심이 많은 개발자 100명</div>
    </div>
</section>
<script
        src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha256-3edrmyuQ0w65f8gfBsqowzjJe2iM6n0nKciPUp8y+7E="
        crossorigin="anonymous"></script>
<script src="/javascripts/app.js"></script>
</body>
</html>