<!DOCTYPE html>
<html>
  <head>
    <title>AI Network Meetup</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>AI Network Meetup</h1>
    <p>
      이곳은 사용자가 홈페이지에 처음 들어왔을 때 보일 페이지입니다.<br>
      만약 사용자가 회원 가입에 성공하여 왔을 경우, Query String으로 'signup=1'이 전달됩니다.<br>
      만약 이미 회원 가입된 사용자가 다시 왔을 경우, 'return=1'이 전달됩니다.<br>
      여타 다른 에러로 이곳에 왔을 경우, 'error=1'이 전달됩니다.
    </p>
    <a href="/auth/github">Github 인증 요청하기</a> (/auth/github)<br>
    <a href="/signup">회원 가입 페이지</a> (/signup)
  </body>
</html>
