<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="AI X Blockchain Techtalk"/>
    <meta property="og:description" content="AI와 블록체인에 관심이 많은 개발자들을 위해서 AI NETWORK가 테크톡을 준비하였습니다.
    이번 테크톡에서는 “오픈 소스 커뮤니티를 넘어 오픈 리소스 커뮤니티로!“란 주제의 초청 강연.
    그리고 AI와 블록체인 기술의 동향과 발전 가능성에 대한 이야기를 나누고자 합니다.
    이번 테크톡에 개발자분들의 많은 관심과 참여 부탁드립니다."/>
    <meta property="og:url" content="http://meetup.ainetwork.ai"/>
    <meta property="og:image" content="http://meetup.ainetwork.ai/images/ogimage.png"/>
    <link rel="stylesheet" href="/stylesheets/app.css">
    <title>AI X Blockchain Techtalk</title>
    <script>
        var serverTimeDiff = Date.now() - <%= Date.now() %>;
    </script>
</head>
<body>
<div id="app">
    <div class="bg"></div>
    <div class="appbar">
        <a class="homepage-link" target="_blank" href="http://www.ainetwork.ai/">
            <div class="icon"></div>
        </a>
        <a class="menu" href="#about">ABOUT</a>
        <a class="menu" href="#speakers">SPEAKERS</a>
        <a class="menu" href="#schedule">SCHEDULE</a>
        <a class="menu" href="#our_code">OUR_CODE</a>
        <a class="hamburger" id="hamburger">
            <img src="/images/hamburger.svg">
        </a>
    </div>
    <div id="hamburger-menu">
        <a class="menu" href="#about">ABOUT</a><br/>
        <a class="menu" href="#speakers">SPEAKERS</a><br/>
        <a class="menu" href="#schedule">SCHEDULE</a><br/>
        <a class="menu" href="#our_code">OUR_CODE</a>
    </div>
    <section class="section section1 fadeIn">
        <div class="top">

        </div>
        <div class="middle">
            <div class="title">
                <span>AI X Blockchain</span><br/><span>Techtalk for</span> <span>Developers</span>
            </div>
            <hr/>
            <div class="location">Google Campus Seoul</div>
            <div class="guest">AI와 블록체인에 관심이 많은 개발자 100명</div>
        </div>
        <div class="bottom">
            <div class="open">
                2018. 08. 03. 18:00 ~ 21:00
            </div>
            <div class="timer">
            </div>
            <a href="/auth/github">
                <img src="/images/github-btn.png"
                     srcset="/images/github-btn@2x.png 2x,
             /images/github-btn@3x.png 3x"
                     class="desktop">
                <img src="/images/github-mobile-btn.png"
                     srcset="/images/github-mobile-btn@2x.png 2x,
             /images/github-mobile-btn@3x.png 3x"
                     class="mobile">
            </a>
        </div>
    </section>
    <section class="section blank"></section>
    <section class="section about" id="about">
        <div class="title">ABOUT</div>
        <div class="block">
            <img src="images/aboutlogo.svg" class="about-logo"/>
            <div>안녕하세요. AI Network입니다.

                AI와 Blockchain의 만남에 관한 이야기를 나누고자 AI Network가 개발자 밋업을 준비했습니다.

                AINNETWORK는 AI연구자와 개발자들을 위한 Blockchain System을 개발하고 있는 스타트업입니다.

                국민대학교 오픈소스랩 이민석 교수님, 서울대 디사이퍼 김재윤 회장님을 모시고 AI Network의 김준기 CTO와 김민현 Co-Founder가 진행하는 이번 밋업에서는 AI와 Blockchain의 만남에 대한 철학과 기술에 관한 담론을 개발자 여러분들과 나누고자 합니다.

                저희 밋업에서는 개발자분들이 평소 관심 갖고 고민하셨던 이야기를 나누고싶습니다.

                시원한 음료와 기술적 담론이 준비되어 있는 이번 밋업에서 개발자 여러분들을 만나고 다양한 이야기를 나눌 수 있기를 고대합니다.

                감사합니다.
            </div>
        </div>
    </section>
    <section class="section speakers" id="speakers">
        <div class="title">SPEAKERS</div>
        <div class="profiles">
            <div class="profile">
                <div>
                    <img src="/images/profile/member1.png"
                         srcset="/images/profile/member1@2x.png 2x,
             /images/profile/member1@3x.png 3x">
                </div>
                <div class="name">
                    이민석 교수
                </div>
                <div class="company">
                    국민대학교 오픈소스소프트웨어 연구실
                </div>
            </div>
            <div class="profile">
                <div>
                    <img src="/images/profile/member2.png"
                         srcset="/images/profile/member2@2x.png 2x,
             /images/profile/member2@3x.png 3x">
                </div>
                <div class="name">
                    김재윤 회장
                </div>
                <div class="company">
                    서울대학교 Decipher
                </div>
            </div>
            <div class="profile">
                <div>
                    <img src="/images/profile/member3.png"
                         srcset="/images/profile/member3@2x.png 2x,
             /images/profile/member3@3x.png 3x">
                </div>
                <div class="name">
                    김준기 CTO
                </div>
                <div class="company">
                    AI Network
                </div>
            </div>
            <div class="profile">
                <div>
                    <img src="/images/profile/member4.png"
                         srcset="/images/profile/member4@2x.png 2x,
             /images/profile/member4@3x.png 3x">
                </div>
                <div class="name">
                    김민현 Co-Founder
                </div>
                <div class="company">
                    AI Network
                </div>
            </div>
        </div>
    </section>
    <section class="section schedule" id="schedule">
        <div class="title">SCHEDULE</div>
        <div class="time-table">
            <hr/>
            <div><span>18:00 - 18:20</span><span>참가자 등록</span></div>
            <hr/>
            <div><span>18:20 - 18:50</span><span>간단한 다과를 동반한 네트워킹</span></div>
            <hr/>
            <div><span>18:50 - 19:00</span><span>행사 소개 및 AI Network 소개</span></div>
            <hr/>
            <div><span>19:00 - 19:20</span><span>오픈소스 생태계와 공유 문화 - 이민석</span></div>
            <hr/>
            <div><span>19:20 - 19:40</span><span>블락체인 트렌드와 Decentralization - 김재윤</span></div>
            <hr/>
            <div><span>19:40 - 19:50</span><span>BREAK TIME</span></div>
            <hr/>
            <div><span>19:50 - 20:10</span><span>Backend.ai 가 함께해온 오픈소스 여정 - 김준기</span></div>
            <hr/>
            <div><span>20:10 - 20:30</span><span>Blockchain으로 열린 오픈 리소스의 가능성 - 김민현</span></div>
            <hr/>
            <div><span>20:30 - 21:00</span><span>질의 응답</span></div>
            <hr/>
            <div><span>21:00 - 21:10</span><span>마무리 인사</span></div>
            <hr/>
        </div>
    </section>
    <section class="section our_code" id="our_code">
        <div class="title">OUR_CODE</div>
        <img class="desktop" src="/images/our_code.png"
             srcset="/images/our_code@2x.png 2x,
             /images/our_code@3x.png 3x">
        <div class="mobile">
            <img src="/images/ain.png"
                 srcset="/images/ain@2x.png 2x,
             /images/ain@3x.png 3x"
                 class="layer">
            <div class="character-name">AIN</div>
            <div class="developer">Developer</div>
            <img src="/images/net.png"
                 srcset="/images/net@2x.png 2x,
             /images/net@3x.png 3x"
                 class="layer">
            <div class="character-name">Net</div>
            <div class="developer">Developer</div>
        </div>
        <hr/>
        <div class="hashtag">#No_Suit #No_Tie</div>
    </section>
    <section class="section footer">
        <div>
            <a class="homepage-link" href="http://www.ainetwork.ai/" target="_blank">
                <img src="/images/logo-purple.svg">
            </a>
            <div class="copyright">service@ainetwork.ai | Copyright © 2018 ainetwork. All rights reseved.</div>
        </div>
    </section>
</div>
<script
        src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
<script src="/javascripts/app.js"></script>
</body>
</html>