<!DOCTYPE html>
<html>
  <head>
    <title>Failure</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>No User Available</h1>
    <p>아직 로그인하지 않았습니다. 먼저 로그인해주세요.</p>
  </body>
</html>
