<!DOCTYPE html>
<html>
  <head>
    <title>Success</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>회원 가입</h1>

    <p>
      Github 인증이 성공하였으며, E-mail 전송과 정보 DB 저장 등이 서버에서 시작되었습니다. <br>
      사용자는 이 페이지에서 ETH 지갑 주소를 적어넣는 Form을 보게 됩니다.
    </p>

    <hr>

    <h2>ETH 지갑 주소 제출하기</h2>

    <% if (profile_pic != undefined) { %>
    <img src="<%= profile_pic %>" width="128px" height="128px"><br>
    <% } %>

    사용자 이름 : <b><%= username %></b></span><br>
    이름 : <input type="text" id="name" name="name"><br>
    E-mail : <input type="text" id="email" name="email"><br>
    휴대폰 번호 : <input type="text" id="phone" name="phone"><br>
    ETH 지갑 주소 : <input type="text" id="eth-wallet" name="eth-wallet"><br>
    <button onclick="submitEthWallet()">제출하기</button>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js" crossorigin="anonymous"></script>
    <script>
      /**
       * 서버에서 EJS 태그로 기설정된 email을 내려줍니다.
       * 해당 내용이 존재한다면 input 태그에 내용을 넣어주는 내용의 스크립트가 필요합니다.
       * 일정 상의 이슈로 인해 별도의 Validation은 넣지 않았으며,
       * 브라우저 단에서의 검증 정도로만 마무리 해주시면 될 것 같습니다.
       * ex) 빈칸 검사, input[type=email] 검사 등
       */
      const email = "<%= email %>";
      $("#email").val(email);

      /**
       * 1. 서버에 정의된 흐름을 따라가는 경우
       * 이 페이지에서는 모든 작업이 끝났으며, 회원 가입이 진행됨에 따라 다른 페이지로 이동해야 할 경우의 로직입니다.
       * 서버 로직으로 모든 이동이 정의되어 있으므로 권장되는 방법입니다.
       */
      function submitEthWallet(e) {
        location.href = "/api/signup"
          + "?eth=" + $("#eth-wallet").val()
          + "&name=" + $("#name").val()
          + "&phone=" + $("#phone").val()
          + "&email=" + $("#email").val();
      }
    </script>
  </body>
</html>
