<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="AI X Blockchain Techtalk"/>
    <meta property="og:description" content="AI와 블록체인에 관심이 많은 개발자들을 위해서 AI NETWORK가 테크톡을 준비하였습니다.
    이번 테크톡에서는 “오픈 소스 커뮤니티를 넘어 오픈 리소스 커뮤니티로!“란 주제의 초청 강연.
    그리고 AI와 블록체인 기술의 동향과 발전 가능성에 대한 이야기를 나누고자 합니다.
    이번 테크톡에 개발자분들의 많은 관심과 참여 부탁드립니다."/>
    <meta property="og:url" content="http://meetup.ainetwork.ai"/>
    <meta property="og:image" content="http://meetup.ainetwork.ai/images/ogimage.png"/>
    <link rel="stylesheet" href="/stylesheets/app.css">
    <title>AI X Blockchain Techtalk 참가 신청</title>
</head>
<body style="background: #ffffff;">
<div id="app" class="signup-page">
    <img class="signup-logo" src="/images/signup_logo.svg"/>
    <div class="signup-message">
        <p>Github 인증이 성공하였습니다.</p>
        <p>초대장 발송과 AIN 코인 에어드랍을 위해</p>
        <p>아래 정보를 입력해주세요</p>
    </div>

    <% if (profile_pic != undefined) { %>
    <img src="<%= profile_pic %>" class="github-profile"><br>
    <% } %>

    <div class="form">
        <input type="text" value="<%= username %>" disabled>
        <input type="text" id="name" name="name" placeholder="실명">
        <input type="text" id="email" name="email" placeholder="e-mail">
        <input type="text" id="phone" name="phone" placeholder="핸드폰번호">
        <input type="text" id="eth-wallet" name="eth-wallet" placeholder="ETH 지갑 주소">
    </div>
    <div class="wallet-help">
        <p>이더리움 지갑이 없는 분은 아래 링크를 참고하세요</p>
        <a href="https://steemit.com/kr/@worud/n4tu3" target="_blank">https://steemit.com/kr/@worud/n4tu3</a>
    </div>
    <p class="submit-message">
        "밋업에 참가하는 개발자 분들에게는 800AIN을 에어드랍으로 드립니다!"
    </p>

    <div class="privacy-policy">
        <a href="https://docs.google.com/document/d/1NgZQZHAkVWYccpEvJQZh8uChztsiugsmI-x_qu93DSA/edit?usp=sharing" target="_blank">
            개인정보 활용 방침
        </a>
        <input type="checkbox" name="privacy-policy" id="privacy-policy" value="">동의<br>
    </div>
    <img src="/images/signup-btn.png"
         srcset="/images/signup-btn@2x.png 2x,
             img/signup-btn@3x.png 3x"
         class="submit-btn desktop" onclick="submitEthWallet()">
    <img src="/images/signup-mobile-btn.png"
         srcset="/images/signup-mobile-btn@2x.png 2x,
             img/signup-mobile-btn@3x.png 3x"
         class="submit-btn mobile" onclick="submitEthWallet()">
</div>
<script src="https://code.jquery.com/jquery-3.3.1.min.js" crossorigin="anonymous"></script>
<script>

    $('input:text').on('change keyup paste', function (event) {
        if (event.target.value) {
            $(this).addClass('filled');
        } else {
            $(this).removeClass('filled');
        }
    })

    var email = "<%= email %>";
    $("#email").val(email);

    function submitEthWallet(e) {
        var blankStringChecker = /^\s*$/;
        var ids = ["name", "email", "phone"];
        var errors = [];
        for (var i = 0; i < ids.length; i++) {
            var jInput = $('#' + ids[i]);
            if (!jInput.val() || blankStringChecker.test(jInput.val())) {
                errors.push(jInput.attr('placeholder'))
            }
        }

        if (errors.length > 0) {
            var message = '빠진 정보를 입력하십시오';
            for (var i = 0; i < errors.length; i++) {
                message += '\n- ' + errors[i];
            }
            alert(message);
            return;
        }

        if (!$('#privacy-policy').is(":checked")) {
            alert('개인정보 처리방침에 동의하셔야 신청할 수 있습니다.');
            return;
        }

        var ethWallet = $("#eth-wallet").val();
        location.href = "/api/signup"
            + "?eth=" + (ethWallet ? ethWallet : 'None')
            + "&name=" + $("#name").val()
            + "&phone=" + $("#phone").val()
            + "&email=" + $("#email").val();
    }
</script>
</body>
</html>
