<!DOCTYPE html>
<html>
  <head>
    <title>Success</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Authorization Success</h1>
    <p>Github 인증이 성공하였으며, E-mail 전송과 정보 DB 저장 등이 서버에서 시작되었습니다.</p>
  </body>
</html>
