@import url(https://cdn.rawgit.com/theeluwin/NotoSansKR-Hestia/master/stylesheets/NotoSansKR-Hestia.css);
@import url(/fonts/font.css);

* {
  font-family: 'Gilroy-Light', 'Noto Sans Korean', sans-serif;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  animation-duration: 1000ms;
}

html, body {
  position: relative;
  height: 100%;
}

body {
  margin: 0;
  text-align: center;
  background: #4B328E;
}

hr {
  height: 1px;
  border: none;
  background: #ffffff;
}

.section {
  height: 100%;
  background: #ffffff;
  position: relative;
  max-width: 100%;
}

.text-left-align {
  text-align: left;
}

.bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('/images/background@3x.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.section1 {
  padding: 0 120px;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #ffffff;
  opacity: 0;
  &.fadeIn {
    opacity: 1;
  }

  hr {
    width: 190px;
    margin: auto;
  }
  .top {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    .homepage-link {
      text-align: left;
      img {
        position: relative;
        width: 76px;
        object-fit: contain;
        margin: 46px 54px 36px;
      }
    }
    .open {
      font-size: 20px;
      font-weight: 700;
    }
    .timer {
      font-size: 70px;
      font-weight: 300;
    }
  }
  .middle {
    max-width: 100%;
    .title {
      font-family: Gilroy-ExtraBold;
      font-size: 90px;
      font-weight: 800;
      margin-bottom: 20px;
      span {
        font-family: inherit;
      }
    }
    .description {
      margin-top: 12px;
      font-size: 14px;
      font-weight: 100;
      line-height: 2em;
      word-break: keep-all;
      word-wrap: break-word;
    }
  }
  .bottom {
    position: absolute;
    bottom: 89px;
    left: 0;
    width: 100%;
    .location {
      font-size: 40px;
      font-weight: 300;
      margin-bottom: 12px;
    }
    .date {
      font-size: 20px;
      font-weight: 300;
      margin-bottom: 4px;
    }
    .guest {
      font-size: 18px;
      font-weight: 100;
      font-family: Noto Sans Korean;
    }
  }
}

@media (max-height: 730px) {
  .section1 {
    .middle {
      .title {
        font-size: 50px;
      }
    }
    .bottom {
      bottom: 20px;
      .location {
        font-size: 20px;
        margin-bottom: 4px;
      }
      .date {
        font-size: 15px;
      }
      .guest {
        margin-top: 3px;
        font-size: 15px;
      }
    }
  }
}

@media (max-height: 620px), (max-width: 800px) and (max-height: 820px) {
  .section1 {
    .top {
      .open {
        font-size: 20px;
      }
    }
    .middle {
      .title {
        font-size: 50px;
      }
      .description {
        font-size: 10px;
      }
    }
  }
}

// till ipad pro
@media (max-width: 1024px), (max-height: 860px) {
  .section1 {
    padding: 0 70px;
    .top {
      .timer {
        font-size: 50px;
        font-weight: 300;
      }
      .homepage-link img {
        width: 55px;
        margin: 40px 40px 10px;
      }
    }
    .middle {
      .title {
        font-size: 70px;
      }
      .description {
        // font-size: 6px;
      }
    }
  }
}

// till ipad
@media (max-width: 769px), (max-height: 620px) {
  .section1 {
    padding: 0 50px;
    .top {
      .open {
        font-size: 11px;
      }
      .timer {
        font-size: 30px;
      }
    }
    .middle {
      .title {
        font-size: 50px;
      }
      .description {
        font-size: 10px;
      }
    }
  }
}

@media (max-width: 480px) {
  .section1 {
    padding: 0 25px;
    .top {
      .homepage-link {
        img {
          width: 29px;
          margin: 27px 26px 9px;
        }
      }
    }
    
    .middle .title {
      font-size: 40px;
    }

    .bottom {
      bottom: 25px;
      .location {
        font-size: 18px;
        margin-bottom: 6px;
      }
      .date {
        font-size: 12px;
      }
      .guest {
        margin-top: 5px;
        font-size: 12px;
      }
    }
  }
}

@media (max-width: 320px) {
  .section1 .middle .title {
    font-size: 30px;
  }
}

@media (max-width: 320px) and (max-height: 480px) {
  .section1 {
    .middle {
      .title {
        font-size: 20px;
      }
      .description {
        font-size: 6px;
      }
    }
    .bottom {
      bottom: 20px;
      .location {
        font-size: 15px;
        margin-bottom: 4px;
      }
      .date {
        font-size: 10px;
      }
      .guest {
        margin-top: 3px;
        font-size: 10px;
      }
    }
  }
}