<div class="dim">
    <div class="popup">
        <img class="logo" src="/images/response-logo.svg">
        <div class="message-wrapper">
            <div class="message"></div>
        </div>
        <a class="return-btn">
            <img class="desktop" src="/images/return-btn.png"
                 srcset="/images/return-btn@2x.png 2x,
             /images/return-btn@3x.png 3x"
                 class="layer">
            <img class="mobile" src="/images/return-mobile-btn.png"
                 srcset="/images/return-mobile-btn@2x.png 2x,
             /images/return-mobile-btn@3x.png 3x"
                 class="layer">
        </a>
    </div>
</div>